# limitations of linear regression
1. it will try to fit a linear line through points even if the points are not linear

multivariable regression might cause overfitting where the model works well on training
data but fails on test data

In [1]:
#adding one more column to the boston dataset to see if mv regression is doing better

In [2]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import pandas as pd

In [3]:
boston = datasets.load_boston()

In [4]:
x = boston.data
y = boston.target

In [5]:
data = pd.DataFrame(x)
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [6]:
data.columns = boston.feature_names
data['age^2'] = data.AGE * data.AGE
data['crim^2'] = data.CRIM **2
data['zn^2'] = data.ZN **2
data['indus^2'] = data.INDUS **2
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age^2,crim^2,zn^2,indus^2
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,4251.04,0.000040,324.0,5.3361
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,6225.21,0.000746,0.0,49.9849
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,3733.21,0.000745,0.0,49.9849
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,2097.64,0.001048,0.0,4.7524
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,2937.64,0.004768,0.0,4.7524

In [15]:
x2 = data.values

In [8]:
from sklearn import model_selection 
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state = 0)
x2train,x2test,y2train,y2test = train_test_split(x2,y,random_state = 0)
#making sure both algos get the same training and test split

In [9]:
from sklearn.linear_model import LinearRegression
algo1 = LinearRegression()
algo2 = LinearRegression()

In [10]:
algo1.fit(xtrain,ytrain)
algo2.fit(x2train,y2train)

LinearRegression()

In [16]:
ypred = algo1.predict(xtest)
y2pred = algo2.predict(x2test)
train1_score = algo1.score(xtrain,ytrain)
test1_score = algo1.score(xtest,ytest)
print(train1_score, test1_score)


train2_score = algo2.score(x2train,y2train)
test2_score = algo2.score(x2test,y2test)
print(train2_score, test2_score)
#slightly improved

0.7697699488741149 0.6354638433202118
0.784896617048852 0.6339806318756449